@use 'helpers' as *;

.button {
    display: inline-flex;
    align-items: center;
    height: var(--input-height);
    padding: rem(12);
    color: var(--color-gray-1);
    background-color: var(--color-dark-2);
    border: rem(1) solid var(--color-dark-2);
    border-radius: var(--border-radius);
    

    @include hover {
        color: var(--color-dark-2);
        background-color: transparent;
    }

    &:active {
        scale: 1.05;
    }
}
