@use 'helpers' as *;

.generate-password {
    &__body {
        display: grid;
        gap: rem(40);
        background-color: var(--color-white);
        padding: rem(30);
        border-radius: rem(10);
        box-shadow: rem(2) rem(2) rem(20) var(--color-dark);
        max-width: rem(400);
        margin: 0 auto;
    }

    &__input {
        width: 100%;
        height: rem(50);
        padding: rem(10);
        user-select: none;
        font-size: rem(20);
        font-weight: 800;
        color: var(--color-blue);
        border: none;
        border: rem(2) solid var(--color-blue);
        border-radius: rem(5);
        outline: none;

        &::placeholder {
            font-weight: 800;
            font-size: rem(20);
        }
    }
    
    &__buttons {
        display: flex;
        justify-content: center;
        column-gap: 30px;
    }

    &__button {
        font-weight: 800;
        font-size: rem(15);
        padding: rem(10) rem(15);
        background-color: var(--color-dark);
        color: var(--color-white);
        border: none;
        border-radius: rem(5);
        cursor: pointer;

        @include hover {
            background-color: var(--color-blue);
        }
    }
}