@use 'helpers' as *;

.margin {
    text-align: center;
    
    &:not(:last-child) {
        margin-bottom: rem(30);
    }

    &--vercarusel {
        &:not(:last-child) {
            margin-bottom: rem(150);
        }
    }
}