@use 'helpers' as *;

.my-slider {
    height: rem(500);

    &__content {
        @include flexbox(true, center, center);

        height: rem(300);
        font-weight: 700;
        color: var(--color-black);
        background-color: var(--color-gray-3);
        border: var(--border);
        border-radius: rem(20);

        @include mobile {
            width: rem(350);
        }
    }
}