@use 'helpers' as *;

.slider {
    &__container {
        overflow: hidden;
        width: 100%;
    }
    
    &__wrapper {
        display: flex;
        gap: rem(30);
        padding-left: rem(30);
        cursor: grab;

        @include mobile-above {
            justify-content: center;
            flex-wrap: wrap;
            cursor: default;
        }
    }

    &__slide {
        width: 100%;
        max-width: rem(350);

        @include mobile {
            width: auto;
            max-width: none;
        }
    }
}