@use 'helpers' as *;

.todo {
    &__inner {
        @include flexbox(true, center, center);

        background-color: var(--color-gray-1);
    }

    &__body {
        font-family: var(--font-family-alternate);
        display: flex;
        flex-direction: column;
        row-gap: rem(24);
        width: 100%;
        max-width: rem(404);
        min-height: rem(429);
        padding: rem(24);
        background-color: var(--color-white);
        border: var(--border);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
    }

    &__title {
        font-weight: 600;
        font-size: rem(24);
        line-height: 1.2;
        letter-spacing: -0.02em;
        text-align: center;
        color: var(--color-black);
    }

    &__form {
        display: flex;
        column-gap: rem(16);
    }

    &__field {
        width: 100%;
    }

    &__info {
        @include flexbox(true, space-between, center);

        column-gap: rem(16);
        font-weight: 600;
    }

    &__delete {
        &-all {
            &-button {
                padding: 0;
                background-color: transparent;
                border: none;

                @include hover {
                    color: var(--color-blue);
                }

                &:not(.is-visible) {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }

    &__list,
    &__empty-message {
        &:empty {
            display: none;
        }
    }

    &__list {
        --todoListRowGap: #{rem(8)};

        display: grid;
        row-gap: var(--todoListRowGap);
    }

    &__empty-message {
        text-align: center;
        color: var(--color-gray-4);
    }
}